@tailwind base;
@tailwind components;
@tailwind utilities;

.tabla th {
    background-color: rgb(17, 24, 39);
    border-bottom: 1px solid rgb(59, 130, 246);
    border-top: 1px solid rgb(59, 130, 246);
    color: rgb(59, 130, 246);
}

.tabla td {
    border-bottom: 2px solid rgb(55, 65, 81);
    color: white;
}

.tabla td,
.tabla th {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.tabla tr:nth-child(odd) {
    background-color: rgb(25, 32, 48);
}

.tabla tr:hover {
    background-color: rgb(59, 130, 246);
    cursor: pointer;
}