table {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: black;
}

.titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 180%;
    font-weight: bolder;
    color: black;
    text-align: center;
}